<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete User</title>
</head>
<body>

<h1>Do you really want to delete the selected user</h1>

<div th:object="${userInfo}">

    <span th:text="*{firstName}">First name</span>
    <br>
    <span th:text="*{lastName}">Last name</span>
    <br>
    <span th:text="*{dateOfBirth}">Date of birth</span>
    <br>
    <span th:text="*{phoneNumber}">Phone number</span>
    <br>
    <span th:text="*{email}">Email</span>

</div>
<form th:method="DELETE" th:action="@{/users/{email}(email = *{email})}">
    <div>
        <button type="submit">Delete</button>
    </div>
</form>

</body>
</html>