<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<main>
    <form th:method="PUT" th:action="@{/users/edit/{email}(email = *{email})}">
        <h1>Edit User</h1>

        <div>
            <div>
                <label th:for="firstName" >First name</label>
            </div>
            <input  type="text" class="form-control" id="firstName" name="firstName"/>
<!--            th:field="*{name}"-->
        </div>

        <div>
            <div>
                <label th:for="lastName">Last name</label>
            </div>
            <input type="text" class="form-control" id="lastName" name="lastName"/>
<!--            th:field="*{author}"-->
        </div>

        <div>
            <div>
                <label th:for="phoneNumber">Phone number</label>
            </div>
            <input  type="text" class="form-control" id="phoneNumber" name="phoneNumber"/>
            <!--            th:field="*{name}"-->
        </div>

        <div>
            <button type="submit">Edit</button>
        </div>

    </form>
</main>
</html>
